@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

.bg-image {
	height: 850px;
	background:no-repeat center;
	background-size: cover;
	width: 100%;
	position: relative;
}

.container-main {
	position: relative;
	text-align:center;
	width: 900px;
	height: 400px;
	top: -750px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 3px 12px #f0e5d5;
}

.container-main-icon {
	text-align: center;
	padding: 50px;
	padding-bottom:20px;
}

.icon {
	width: 50px;
	font-size: 3rem;
	color: #ffa81e;
}

.icon:hover{
	color: #044b85;
}

.icon-text{
	font-size : 18px;
	color: black;
}

.icon-text:hover{
	color: #044b85;
}

.btn-select {
	width: 500px;
	height: 80px;
	background-color: #ffa81e;
	border: none;
	font-size: xx-large;
	color: white;
	box-shadow: 0px 5px 5px #f0e5d5;
}


.btn-select:hover{
	background-color: #044b85;
	color: white;
}

.from-search {
	height: 70px;
}

.form-picker-1 {
	border: 1px solid #ccc;
	max-width: 240px;
}

.form-picker-2 {
	border: 1px solid #ccc;
	max-width: 220px;
}

.drop-person{
	font-size: 20px;
	text-align: left;
}

.drop-person{
	font-style: italic;
	font-weight: 200;
}

.fa-person{
	font-size: 30px;
	padding-right: 10px;
	font-style: italic;
}

.item {
	margin: 0 10px;
	width: 160px;
	height: 160px;
	}

.item2 {
	margin: 0 3px;

}


.attraction {
	text-align:center;
	padding-bottom: 200px;
	width: 100%;
	position: relative;
	top: -280px;
}

.recommend{
	text-align: center;
	position: relative;
	top : -280px;
	width: 1230px;
}

.main-img{
	width: 100%;
	height: 140px;
}

.main-card{
	margin: 10px auto;
	float: left;
	margin-right: 10px;
}

.card-body{
	text-align: left;
}

.card-body p{
	margin-bottom: 3px;
}
.card-body hr{
	margin: 0px;
	margin-bottom: 8px;
}

h5 {
	padding-bottom:30px;
	font-weight: bold;
}



