<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminprofit">
    
    <!-- 1번째 박스 - 인원수 : 고객 / 호스트 월별 가입자 -->
    <!-- 1. 일반 고객 가입 -->
    <select id="dataCountCustomer" resultType="Integer">
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 1, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 2, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 3, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 4, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 5, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 6, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 7, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 8, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 9, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 10, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 11, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 12, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 0
    </select>
    
    <!-- 2. 호스트 가입 -->
    <select id="dataCountHost" resultType="Integer">
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 1, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 2, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 3, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 4, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 5, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 6, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 7, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 8, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 9, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 10, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 11, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
        UNION ALL
        SELECT COUNT(DECODE(TO_CHAR(memberReg_date, 'MM'), 12, 1)) cnt
        FROM member1 WHERE TO_CHAR(memberReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND memberAuth = 2
    </select>
    
    
    
    
    
    <!-- 2번째 박스 - 총 매출 : 월별 건수 + 금액 -->
    <!-- 1. 예약 건수(선) : 날짜별 /선 -->
    <select id="dataCountReservation" resultType="Integer">
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 1, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 2, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 3, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 4, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 5, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 6, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 7, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 8, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 9, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 10, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 11, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT COUNT(DECODE( TO_CHAR(resReg_date, 'MM'), 12, 1)) cnt
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
    </select>
    

    <!-- 2. 예약 금액(막대) : 날짜별  /막대 -->
     <select id="dataResTotal" resultType="Integer">
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 1, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 2, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 3, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 4, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 5, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 6, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 7, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 8, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 9, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 10, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 11, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
		    UNION ALL
		SELECT  SUM(DECODE( TO_CHAR(resReg_date, 'MM'), 12, resTotalcost, 0)) tot
		FROM reservation WHERE TO_CHAR(resReg_date, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY') AND resCode = 0
    </select>
    
 
</mapper>