<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hostPage">
	<!-- 해당 호스트에 총 객실 수  -->
	<select id="countTotalRoom" parameterType="map" resultType="Integer">
		SELECT COUNT(*) total
		FROM room
		WHERE mhId = #{hostId} 
	</select>
	
	<!-- 오늘 예약된 룸 개수 -->
	<select id="countResRoom" parameterType="map" resultType="Integer">
		SELECT  COUNT(*)
		FROM reservation r
		JOIN reservationDetail r2 ON r.resNum = r2.resNum 
		JOIN room r3 ON r2.roomNum = r3.roomNum 
		WHERE r3.mhId = #{hostId}
		AND (resCin_date = TO_CHAR(SYSDATE, 'YYYYMMDD') AND NOT(resCode = 1 OR resCode = 2))
	</select>
	
	<!-- 오늘 방문 예약자 리스트 -->
	<select id="todayRes" parameterType="map" resultType="com.sp.trip.hostPage.HostPage">
		SELECT  ROWNUM rnum, resName, r3.roomName, resPhone 
		FROM reservation r
		JOIN reservationDetail r2 ON r.resNum = r2.resNum 
		JOIN room r3 ON r2.roomNum = r3.roomNum 
		WHERE mhId = #{hostId}
		AND (resCin_date = TO_CHAR(SYSDATE, 'YYYYMMDD') AND NOT(resCode = 1 OR resCode = 2))
	</select>
	
	<!-- 오늘 예약한 건수 -->
	<select id="todayResOk" parameterType="map" resultType="Integer">
		SELECT  COUNT(*)
		FROM reservation r
		JOIN reservationDetail r2 ON r.resNum = r2.resNum 
		JOIN room r3 ON r2.roomNum = r3.roomNum 
		WHERE r3.mhId = #{hostId}
		    AND  resReg_date = TO_CHAR(SYSDATE, 'YYYYMMDD')
	</select>
	
	<select id="todayCancel" parameterType="map" resultType="Integer" >
		SELECT COUNT(*)
		FROM reservation r
		JOIN reservationDetail r2 ON r.resNum = r2.resNum 
		JOIN room r3 ON r2.roomNum = r3.roomNum 
		WHERE r3.mhId = #{hostId}
	    AND  (resCode=0 AND  resCin_date = TO_CHAR(SYSDATE, 'YYYYMMDD'))
	</select>
	
	<!-- 오늘 예약한 사람들의 총 결제 금액 -->
	<select id="todayPay" parameterType="map" resultType="String">
		SELECT NVL(TO_CHAR(SUM(p.payCost), 'L99,999,999'),0)
		FROM memberHost m 
		JOIN member1 m1 ON m.mhId = m1.memberId
		JOIN room r3 ON m.mhId = r3.mhId
		JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		JOIN reservation r ON r.resNum = r2.resNum 
		JOIN payment p ON r.resNum = p.resNum  
		WHERE m.mhId = #{hostId}
		 AND  TO_CHAR(p.payReg_date,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
	<!-- 오늘 입실한 사람들의 총 매출 -->
	<select id="todayrCinPay" parameterType="map" resultType="String">
		 SELECT NVL(TO_CHAR(SUM(p.payCost), 'L99,999,999'),0)
		FROM memberHost m 
		JOIN member1 m1 ON m.mhId = m1.memberId
		JOIN room r3 ON m.mhId = r3.mhId
		JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		JOIN reservation r ON r.resNum = r2.resNum 
		JOIN payment p ON r.resNum = p.resNum  
		WHERE m.mhId = #{hostId}
		 AND  TO_CHAR(r.resCin_date,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
</mapper>