<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lodging">
	<insert id="insertLodging" parameterType="com.sp.trip.lodging.Lodging">
		INSERT INTO lodging(mhId, lcNum, lodgName, lodgLat, lodgLon, lodgContent1, lodgContent2, lodgStart_date,
				lodgEnd_date, lodgPageAddr, lodgCin_time, lodgCout_time, lodgOption, enabled)
		VALUES (#{mhId}, #{lcNum}, #{lodgName}, #{lodgLat}, #{lodgLon}, #{lodgContent1}, #{lodgContent2},
				#{lodgStart_date}, #{lodgEnd_date}, #{lodgPageAddr, jdbcType=VARCHAR}, #{lodgCin_time},
				#{lodgCout_time}, #{lodgOption}, 0)
	</insert>
	
	<select id="readLodging" parameterType="String" resultType="com.sp.trip.lodging.Lodging">
		SELECT mhId, lcNum, lodgName, lodgLat, lodgLon, lodgContent1, lodgContent2, lodgStart_date,
				lodgEnd_date, lodgPageAddr, lodgCin_time, lodgCout_time, lodgOption, enabled
		FROM lodging
		WHERE mhId = #{userId}
	</select>
	
	<insert id="insertLodgingPhoto" parameterType="com.sp.trip.lodging.Lodging">
		INSERT INTO lodgingPhoto(lPhotoNum, lPhotoName, mhId)
		VALUES (lodgingPhoto_seq.NEXTVAL, #{lPhotoName}, #{mhId})
	</insert>
	
	<select id="readLodgingPhotoList" parameterType="String" resultType="com.sp.trip.lodging.Lodging">
		SELECT lPhotoNum, lPhotoName, mhId
		FROM lodgingPhoto
		WHERE mhId = #{mhId}
	</select>
	
	<select id="readLodgingPhotoFile" parameterType="Integer" resultType="com.sp.trip.lodging.Lodging">
		SELECT lPhotoNum, lPhotoName, mhId
		FROM lodgingPhoto
		WHERE lPhotoNum = #{lPhotoNum}
	</select>
	
	<select id="readLodgingCategory" parameterType="Integer" resultType="String">
		SELECT lcName FROM lodgingCategory WHERE lcNum = #{lcNum}
	</select>
	
	<delete id="deleteLodgingPhotoFile" parameterType="Integer">
		DELETE FROM lodgingPhoto WHERE lPhotoNum = #{lPhotoNum}
	</delete>
	
	<update id="updateLodging" parameterType="com.sp.trip.lodging.Lodging">
		UPDATE lodging SET lcNum=#{lcNum}, lodgName=#{lodgName}, lodgLat=#{lodgLat}, lodgLon=#{lodgLon}, 
				lodgContent1=#{lodgContent1}, lodgContent2=#{lodgContent2}, lodgStart_date=#{lodgStart_date},
				lodgEnd_date=#{lodgEnd_date}, lodgPageAddr=#{lodgPageAddr, jdbcType=VARCHAR}, 
				lodgCin_time=#{lodgCin_time}, lodgCout_time=#{lodgCout_time}, lodgOption=#{lodgOption}
		WHERE mhId = #{mhId}
		
	</update>
</mapper>