<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="point">

	<select id="listPoint" parameterType="map" resultType="com.sp.trip.point.Point">
	SELECT * FROM (
		SELECT DISTINCT((
			SELECT SUM(pointQuant) FROM point WHERE pointCode = 0 AND memberId = '#{memberId}') -
			(SELECT SUM(pointQuant) FROM point WHERE pointCode = 1 AND memberId = '#{memberId}')) total,
			pointQuant, p.memberId, pointCode, TO_CHAR(pointDate, 'YYYY-MM-DD') pointDate
			FROM point p
			JOIN member1 m ON p.memberId=m.memberId
			GROUP BY p.memberId, pointCOde, pointDate, pointQuant
	) tb WHERE ROWNUM &lt;= #{end}
	) WHERE rnum &gt;= #{start}
	</select>
		
	<insert id="insertPoint" parameterType="com.sp.trip.point.Point" >		
 		INSERT INTO point(pointNum, pointCode, pointDate, pointQuant, memberId) 
 		VALUES(point_seq.NEXTVAL, #{pointCode}, SYSDATE, #{pointQuant}, #{memberId})
 	</insert>

 	
 	<select id="dataCount" parameterType="map" resultType="Integer">
 		SELECT NVL(COUNT(*), 0)
 		FROM point p
 		JOIN member1 m ON p.memberId = m.memberId
 		WHERE p.memberId = #{memberId}
 	</select>
 	
</mapper>