<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yearStats">
	<!-- 이번년도 예약 총건수 -->
	<select id="ycountRestotal" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		FROM reservation r
		JOIN reservationDetail r2 ON r.resNum = r2.resNum 
		JOIN room r3 ON r2.roomNum = r3.roomNum 
		WHERE r3.mhId =#{hostId}
   		AND  TO_CHAR(resReg_date,'YYYY') = #{startDate}
	</select>
	
	<!-- 이번년도 총결제 금액 -->
	<select id="ytotalPay" parameterType="map" resultType="String">
		SELECT NVL(TO_CHAR(SUM(p.payCost), 'L99,999,999'),0)
		FROM memberHost m 
		JOIN member1 m1 ON m.mhId = m1.memberId
		JOIN room r3 ON m.mhId = r3.mhId
		JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		JOIN reservation r ON r.resNum = r2.resNum 
		JOIN payment p ON r.resNum = p.resNum  
		WHERE m.mhId = #{hostId}
		 AND  TO_CHAR(p.payReg_date,'YYYY') = #{startDate}
	</select>
	
	<!-- 이번년도 취소 총건 -->
	<select id="ycountCancel" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		FROM reservation r
		JOIN reservationDetail r2 ON r.resNum = r2.resNum 
		JOIN room r3 ON r2.roomNum = r3.roomNum 
		WHERE r3.mhId = #{hostId}
		AND resCode != 0 
     		AND TO_CHAR(resReg_date,'YYYY') = #{startDate}
	</select>
	
	<!-- 이번연도 취소된 총 금액 -->
	<select id="ytotalpayCancel" parameterType="map" resultType="String">
		SELECT NVL(TO_CHAR(SUM(p.payCost), 'L99,999,999'),0)
		FROM memberHost m 
		JOIN member1 m1 ON m.mhId = m1.memberId
		JOIN room r3 ON m.mhId = r3.mhId
		JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		JOIN reservation r ON r.resNum = r2.resNum 
		JOIN payment p ON r.resNum = p.resNum  
		WHERE m.mhId = #{hostId}
		AND  resCode != 0 
     		AND TO_CHAR(p.payReg_date,'YYYY') = #{startDate}
	</select>
	
	<!-- 전년도 객실별 판매상세 : 예약건수 -->
	<select id="lastyPaytotal" parameterType="map" resultType="com.sp.trip.hostPage.yearStats.YearStats">
	SELECT*FROM (
		SELECT r3.roomNum, NVL(SUM(p.payCost),0) total, r3.roomName
		FROM memberHost m 
		JOIN room r3 ON m.mhId = r3.mhId
		LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		LEFT JOIN reservation r ON r.resNum = r2.resNum 
		LEFT JOIN payment p ON r.resNum = p.resNum
		WHERE m.mhId = #{hostId} AND TO_CHAR(resReg_date,'YYYY') = #{startDate}
		GROUP BY  r3.roomName, r3.roomNum
		union all
		SELECT r.roomNum, TO_NUMBER('0') total, r.roomName
		FROM memberHost m 
		JOIN room r ON m.mhId = r.mhId
		WHERE  m.mhId = #{hostId}  AND 
		   r.roomName NOT IN (
		    SELECT r3.roomName
		    FROM memberHost m 
		    JOIN room r3 ON m.mhId = r3.mhId
		    LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		    LEFT JOIN reservation r ON r.resNum = r2.resNum 
		    LEFT JOIN payment p ON r.resNum = p.resNum
		    WHERE m.mhId = #{hostId}  AND TO_CHAR(p.payReg_date,'YYYY') = #{startDate}
		)
		)ORDER BY roomNum ASC
		</select>
		
	<!-- 이번년도 객실별 판매상세 : 예약건수 -->
	<select id="thisyPaytotal" parameterType="map" resultType="com.sp.trip.hostPage.yearStats.YearStats">
	SELECT*FROM (
		SELECT r3.roomNum, NVL(SUM(p.payCost),0) total, r3.roomName
		FROM memberHost m 
		JOIN room r3 ON m.mhId = r3.mhId
		LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		LEFT JOIN reservation r ON r.resNum = r2.resNum 
		LEFT JOIN payment p ON r.resNum = p.resNum
		WHERE m.mhId = #{hostId} AND TO_CHAR(resReg_date,'YYYY') =  #{startDate}
		GROUP BY  r3.roomName, r3.roomNum
		union all
		SELECT r.roomNum, TO_NUMBER('0') total, r.roomName
		FROM memberHost m 
		JOIN room r ON m.mhId = r.mhId
		WHERE  m.mhId = #{hostId}  AND 
		   r.roomName NOT IN (
		    SELECT r3.roomName
		    FROM memberHost m 
		    JOIN room r3 ON m.mhId = r3.mhId
		    LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		    LEFT JOIN reservation r ON r.resNum = r2.resNum 
		    LEFT JOIN payment p ON r.resNum = p.resNum
		    WHERE m.mhId = #{hostId}  AND TO_CHAR(p.payReg_date,'YYYY') =  #{startDate}
		)
	 )ORDER BY roomNum ASC
		</select>
	
	
	<!-- 전년도 객실별 예약 총건 -->	
	<select id="lastyResCount" parameterType="map" resultType="com.sp.trip.hostPage.yearStats.YearStats">
	SELECT*FROM (
		SELECT r3.roomNum, COUNT(r.resNum) count, r3.roomName
		FROM memberHost m 
		JOIN room r3 ON m.mhId = r3.mhId
		LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		LEFT JOIN reservation r ON r.resNum = r2.resNum 
		LEFT JOIN payment p ON r.resNum = p.resNum
		WHERE m.mhId = #{hostId}  AND TO_CHAR(resReg_date,'YYYY') = #{startDate}
		GROUP BY  r3.roomName, r3.roomNum
		union all
		SELECT r.roomNum, TO_NUMBER('0') count, r.roomName
		FROM memberHost m 
		JOIN room r ON m.mhId = r.mhId
		WHERE  m.mhId = #{hostId}  AND 
		   r.roomName NOT IN (
		    SELECT r3.roomName
		    FROM memberHost m 
		    JOIN room r3 ON m.mhId = r3.mhId
		    LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		    LEFT JOIN reservation r ON r.resNum = r2.resNum 
		    LEFT JOIN payment p ON r.resNum = p.resNum
		    WHERE m.mhId = #{hostId}  AND TO_CHAR(p.payReg_date,'YYYY') = #{startDate}
		)
	)ORDER BY roomNum ASC

	</select>	
		
		
	<!-- 이번년도 객실별 예약 총건 -->	
	<select id="thisyResCount" parameterType="map" resultType="com.sp.trip.hostPage.yearStats.YearStats">
	SELECT*FROM (
		SELECT r3.roomNum, COUNT(r.resNum) count, r3.roomName
		FROM memberHost m 
		JOIN room r3 ON m.mhId = r3.mhId
		LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		LEFT JOIN reservation r ON r.resNum = r2.resNum 
		LEFT JOIN payment p ON r.resNum = p.resNum
		WHERE m.mhId = #{hostId}  AND TO_CHAR(resReg_date,'YYYY') =  #{startDate}
		GROUP BY  r3.roomName, r3.roomNum
		union all
		SELECT r.roomNum, TO_NUMBER('0') count, r.roomName
		FROM memberHost m 
		JOIN room r ON m.mhId = r.mhId
		WHERE  m.mhId = #{hostId}  AND 
		   r.roomName NOT IN (
		    SELECT r3.roomName
		    FROM memberHost m 
		    JOIN room r3 ON m.mhId = r3.mhId
		    LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		    LEFT JOIN reservation r ON r.resNum = r2.resNum 
		    LEFT JOIN payment p ON r.resNum = p.resNum
		    WHERE m.mhId = #{hostId}  AND TO_CHAR(resReg_date,'YYYY') =  #{startDate}
		)
	)ORDER BY roomNum ASC
	</select>
	
	<select id="totalASmonth" parameterType="map" resultType="com.sp.trip.hostPage.yearStats.YearStats">
		SELECT SUM(p.payCost) total, TO_CHAR(resReg_date,'MM') readMonth
		FROM memberHost m 
		JOIN room r3 ON m.mhId = r3.mhId
		LEFT JOIN reservationDetail r2 ON r3.roomNum = r2.roomNum
		LEFT JOIN reservation r ON r.resNum = r2.resNum 
		LEFT JOIN payment p ON r.resNum = p.resNum
		WHERE m.mhId = #{hostId} AND TO_CHAR(resReg_date,'YYYY') =#{startDate}
		GROUP BY  TO_CHAR(resReg_date,'MM')
		ORDER BY TO_CHAR(resReg_date,'MM') ASC
	</select>
		
		
		
		

</mapper>